---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: kafkausers.gcp-kafka.k8s.onpier.de
spec:
  group: gcp-kafka.k8s.onpier.de
  names:
    kind: KafkaUser
    listKind: KafkaUserList
    plural: kafkausers
    singular: kafkauser
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Is user ready
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: Google SA Email
      jsonPath: .status.saEmail
      name: Email
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: KafkaUser is the Schema for the kafka users API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: KafkaUserSpec defines the desired state of User.
            properties:
              clusterAccess:
                description: ReadOnly or ReadWrite access to the whole cluster
                type: string
              extraRoles:
                description: |-
                  Roles that must be additionally assigned to the gcp IAM
                  For example, when an app needs to have access to redis and kafka.
                items:
                  type: string
                type: array
              serviceAccountName:
                type: string
              topicAccess:
                items:
                  properties:
                    role:
                      type: string
                    topic:
                      type: string
                  required:
                  - role
                  - topic
                  type: object
                type: array
            required:
            - serviceAccountName
            type: object
          status:
            description: KafkaUserStatus defines the observed state of User.
            properties:
              conditions:
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              configHash:
                type: string
              error:
                type: string
              ready:
                type: boolean
              saEmail:
                type: string
              state:
                properties:
                  acls:
                    type: boolean
                  bindings:
                    type: boolean
                  cloudSA:
                    description: Is cloud service account created?
                    type: boolean
                  k8sSA:
                    description: Is kubernetes service account ready
                    type: boolean
                  workloadIdentity:
                    type: boolean
                type: object
              topicAccessApplied:
                items:
                  properties:
                    role:
                      type: string
                    topic:
                      type: string
                  required:
                  - role
                  - topic
                  type: object
                type: array
            required:
            - ready
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
